body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    transition: background-color 0.3s;
}

nav li:hover {
    background-color: #333;
    cursor: pointer;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

article {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    color: #333;
    margin-top: 0;
}

p {
    color: #555;
    font-size: 14px;
    margin: 0;
}

.btn {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}